4. O resultado da campanha anterior tem relev√¢ncia na campanha atual?

In [1]:
import pandas as pd

dataset_total = pd.read_csv('bank-full.csv', sep = ';')

In [8]:
dataset_total.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [2]:
output = dataset_total.groupby(['poutcome', 'y']).size().reset_index(name = 'total')

In [3]:
output

  poutcome    y  total
0  failure   no   4283
1  failure  yes    618
2    other   no   1533
3    other  yes    307
4  success   no    533
5  success  yes    978
6  unknown   no  33573
7  unknown  yes   3386

In [7]:
total = output[output.total]

KeyError: '[ 4283   618  1533   307   533   978 33573  3386] not in index'