5. Qual o fator determinante para que o banco exija um seguro de crédito?

In [2]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt

dataset_total = pd.read_csv('bank-full.csv', sep = ';')

Para fazer essa análise, podemos comparar os valores das outras colunas para os casos em que o banco não exige seguro de crédito (default = no) e em que exige seguro de crédito (default = yes). Para isso, usamos a função describe() para os valores numéricos:

In [3]:
def_no = dataset_total[dataset_total.default == 'no']
def_yes = dataset_total[dataset_total.default == 'yes']

In [8]:
def_no.describe()

,age,balance,day,duration,campaign,pdays,previous
count,44396.000000,44396.000000,44396.000000,44396.000000,44396.000000,44396.000000,44396.000000
mean,40.961934,1389.806424,15.795792,258.512749,2.756780,40.604536,0.586044
std,10.638882,3063.275425,8.317696,258.239396,3.087038,100.504630,2.313596
min,18.000000,-4057.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,84.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,468.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1462.250000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [6]:
def_yes.describe()

,age,balance,day,duration,campaign,pdays,previous
count,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000
mean,39.534969,-137.624540,16.385276,239.115337,3.148466,18.042945,0.268712
std,9.357804,906.704678,8.564183,214.512375,3.628145,73.651493,1.629787
min,21.000000,-8019.000000,1.000000,3.000000,1.000000,-1.000000,0.000000
25%,32.000000,-339.000000,8.000000,97.000000,1.000000,-1.000000,0.000000
50%,38.000000,-7.000000,17.000000,172.000000,2.000000,-1.000000,0.000000
75%,47.000000,15.000000,23.000000,305.000000,4.000000,-1.000000,0.000000
max,71.000000,16486.000000,31.000000,1558.000000,36.000000,521.000000,25.000000

As colunas relevantes para a análise são "age" e "balance", pois as outras não são características dos clientes. Através dessas duas tabelas, podemos ver que a média e desvio padrão para a idade são muito similares para os clientes que precisam de seguro e os que não precisam. Já para o balanço anual médio, há uma diferença significativa. O balanço daqueles que não precisam de seguro é de 1389,80 euros, enquanto o daqueles que precisam de seguro é de 137,62 euros negativos, ou seja, em média terminam o ano devendo 137,62 euros. Para os valores não numéricos, podemos considerar a quantidade de pessoas em diferentes situações para cada parâmetro existente. Por exemplo, para o estado civil, há 3 situações distintas: casado solteiro e divorciado. Analisando as situações de cada parâmetro, temos os resultados abaixo, em números abolutos e porcentagens:

In [57]:
dataset_marital = dataset_total.groupby(['default', 'marital']).size()
pct_marital = dataset_marital.groupby(level = 0).apply(lambda x: x * 100 / float(x.sum()))
print(dataset_marital, '\n')
print(pct_marital)

default  marital
no       divorced     5079
         married     26766
         single      12551
yes      divorced      128
         married       448
         single        239
dtype: int64

default  marital
no       divorced    11.440220
         married     60.289215
         single      28.270565
yes      divorced    15.705521
         married     54.969325
         single      29.325153
dtype: float64

In [58]:
dataset_job = dataset_total.groupby(['default', 'job']).size()
pct_job = dataset_job.groupby(level = 0).apply(lambda x: x * 100 / float(x.sum()))
print(dataset_job, '\n')
print(pct_job)

default  job
no       admin.           5097
         blue-collar      9531
         entrepreneur     1432
         housemaid        1218
         management       9294
         retired          2238
         self-employed    1546
         services         4079
         student           935
         technician       7467
         unemployed       1273
         unknown           286
yes      admin.             74
         blue-collar       201
         entrepreneur       55
         housemaid          22
         management        164
         retired            26
         self-employed      33
         services           75
         student             3
         technician        130
         unemployed         30
         unknown             2
dtype: int64

default  job
no       admin.           11.480764
         blue-collar      21.468150
         entrepreneur      3.225516
         housemaid         2.743490
         management       20.934318
         retired           5.040995
         self-employed     3.482296
         services          9.187765
         student           2.106046
         technician       16.819083
         unemployed        2.867375
         unknown           0.644202
yes      admin.            9.079755
         blue-collar      24.662577
         entrepreneur      6.748466
         housemaid         2.699387
         management       20.122699
         retired           3.190184
         self-employed     4.049080
         services          9.202454
         student           0.368098
         technician       15.950920
         unemployed        3.680982
         unknown           0.245399
dtype: float64

In [59]:
dataset_education = dataset_total.groupby(['default', 'education']).size()
pct_education = dataset_education.groupby(level = 0).apply(lambda x: x * 100 / float(x.sum()))
print(dataset_education, '\n')
print(pct_education)

default  education
no       primary       6724
         secondary    22744
         tertiary     13103
         unknown       1825
yes      primary        127
         secondary      458
         tertiary       198
         unknown         32
dtype: int64

default  education
no       primary      15.145509
         secondary    51.229841
         tertiary     29.513920
         unknown       4.110731
yes      primary      15.582822
         secondary    56.196319
         tertiary     24.294479
         unknown       3.926380
dtype: float64

Como podemos ver, em nenhum dos parâmetros (estado civil, profissão e educação) há diferenças significativas quando analisamos as quantidades percentuais. Analisando novamente o caso do estado civil, as quantidades percentuais de casados, solteiros e divorciados é bastante similar, e chegamos à mesma conclusão para os parâmetros profissão e educação, cada um com suas diferentes opções. Assim, podemos concluir que o balanço médio anual é um fator determinante para a exigência ou não do seguro de crédito.