6. Quais são as características mais proeminentes de um cliente que possua
empréstimo imobiliário?

In [2]:
import pandas as pd
dataset_total = pd.read_csv('bank-full.csv', sep = ';')

Assim como na questão 5, podemos comparar os valores de cada um dos casos, os que possuem empréstimo imobiliário (housing  = yes) e os que não possuem (housing = no). Analogamente, usamos a função describe() para os valores numéricos:

In [10]:
housing_yes = dataset_total[dataset_total.housing == 'yes']
housing_no = dataset_total[dataset_total.housing == 'no']

In [11]:
housing_yes.describe()

,age,balance,day,duration,campaign,pdays,previous
count,25130.000000,25130.000000,25130.000000,25130.000000,25130.000000,25130.000000,25130.000000
mean,39.175288,1175.103064,15.598249,259.331476,2.698488,51.312495,0.656665
std,8.926807,2483.285761,8.026836,258.321907,3.140979,113.862848,2.707428
min,20.000000,-4057.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,32.000000,62.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,38.000000,412.000000,15.000000,182.000000,2.000000,-1.000000,0.000000
75%,45.000000,1257.750000,21.000000,318.000000,3.000000,-1.000000,0.000000
max,78.000000,58544.000000,31.000000,4918.000000,63.000000,854.000000,275.000000

In [12]:
housing_no.describe()

,age,balance,day,duration,campaign,pdays,previous
count,20081.000000,20081.000000,20081.000000,20081.000000,20081.000000,20081.000000,20081.000000
mean,43.139883,1596.501270,16.066929,256.700911,2.845625,26.288581,0.484787
std,12.058696,3613.405339,8.671437,256.529524,3.041508,77.461032,1.660227
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,85.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,42.000000,507.000000,17.000000,178.000000,2.000000,-1.000000,0.000000
75%,52.000000,1708.000000,23.000000,320.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,3881.000000,41.000000,871.000000,37.000000

Novamente, não temos grande diferença na idade, somente no balanço médio anual. Aqueles que possuem empréstimo imbiliário tem, em média, um balanço anual médio aproximadamente 26,4% menor que aqueles que não possuem. Para os parâmetros não numéricos, também fazemos uma análise semelhante à da questão 5:

In [13]:
dataset_marital = dataset_total.groupby(['default', 'marital']).size()
pct_marital = dataset_marital.groupby(level = 0).apply(lambda x: x * 100 / float(x.sum()))
print(dataset_marital, '\n')
print(pct_marital)

default  marital
no       divorced     5079
         married     26766
         single      12551
yes      divorced      128
         married       448
         single        239
dtype: int64

default  marital
no       divorced    11.440220
         married     60.289215
         single      28.270565
yes      divorced    15.705521
         married     54.969325
         single      29.325153
dtype: float64

In [7]:
dataset_job = dataset_total.groupby(['default', 'job']).size()
pct_job = dataset_job.groupby(level = 0).apply(lambda x: x * 100 / float(x.sum()))
print(dataset_job, '\n')
print(pct_job)

default  job
no       admin.           5097
         blue-collar      9531
         entrepreneur     1432
         housemaid        1218
         management       9294
         retired          2238
         self-employed    1546
         services         4079
         student           935
         technician       7467
         unemployed       1273
         unknown           286
yes      admin.             74
         blue-collar       201
         entrepreneur       55
         housemaid          22
         management        164
         retired            26
         self-employed      33
         services           75
         student             3
         technician        130
         unemployed         30
         unknown             2
dtype: int64

default  job
no       admin.           11.480764
         blue-collar      21.468150
         entrepreneur      3.225516
         housemaid         2.743490
         management       20.934318
         retired           5.040995
         self-employed     3.482296
         services          9.187765
         student           2.106046
         technician       16.819083
         unemployed        2.867375
         unknown           0.644202
yes      admin.            9.079755
         blue-collar      24.662577
         entrepreneur      6.748466
         housemaid         2.699387
         management       20.122699
         retired           3.190184
         self-employed     4.049080
         services          9.202454
         student           0.368098
         technician       15.950920
         unemployed        3.680982
         unknown           0.245399
dtype: float64

In [8]:
dataset_education = dataset_total.groupby(['default', 'education']).size()
pct_education = dataset_education.groupby(level = 0).apply(lambda x: x * 100 / float(x.sum()))
print(dataset_education, '\n')
print(pct_education)

default  education
no       primary       6724
         secondary    22744
         tertiary     13103
         unknown       1825
yes      primary        127
         secondary      458
         tertiary       198
         unknown         32
dtype: int64

default  education
no       primary      15.145509
         secondary    51.229841
         tertiary     29.513920
         unknown       4.110731
yes      primary      15.582822
         secondary    56.196319
         tertiary     24.294479
         unknown       3.926380
dtype: float64

Novamente, não há grandes diferenças quando analisamos os valores percentuais. Assim, concluímos que o balanço anual médio é também um fator determinante para que uma pessoa faça um empréstimo imobiliário.