6. Quais são as características mais proeminentes de um cliente que possua
empréstimo imobiliário?

In [1]:
import pandas as pd
dataset_total = pd.read_csv('bank-full.csv', sep = ';')

In [3]:
dataset_housing = dataset_total[dataset_total.housing == 'yes']

In [5]:
dataset_housing.describe()

,age,balance,day,duration,campaign,pdays,previous
count,25130.000000,25130.000000,25130.000000,25130.000000,25130.000000,25130.000000,25130.000000
mean,39.175288,1175.103064,15.598249,259.331476,2.698488,51.312495,0.656665
std,8.926807,2483.285761,8.026836,258.321907,3.140979,113.862848,2.707428
min,20.000000,-4057.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,32.000000,62.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,38.000000,412.000000,15.000000,182.000000,2.000000,-1.000000,0.000000
75%,45.000000,1257.750000,21.000000,318.000000,3.000000,-1.000000,0.000000
max,78.000000,58544.000000,31.000000,4918.000000,63.000000,854.000000,275.000000

In [8]:
data_hous_mari = dataset_housing.groupby('marital').size()
print(data_hous_mari)

marital
divorced     2907
married     15321
single       6902
dtype: int64

In [10]:
data_hous_job = dataset_housing.groupby('job').size()
print(data_hous_job)

job
admin.           3182
blue-collar      7048
entrepreneur      869
housemaid         398
management       4678
retired           491
self-employed     765
services         2766
student           249
technician       4115
unemployed        543
unknown            26
dtype: int64

In [9]:
data_hous_edu = dataset_housing.groupby('education').size()
print(data_hous_edu)

education
primary       3894
secondary    14038
tertiary      6378
unknown        820
dtype: int64